.user-details {
  width: 90vw;
  margin: auto;
  padding: 1rem 0;
}

.form-group {
  margin-bottom: 1rem;

  h6 {
    margin: 0;
  }
}

h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
